<form fxLayout="column" class="mt-5">
  <mat-card fxFlexAlign="center">

    <mat-card-header>
      <mat-card-title>Cadastro de User Stories</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field class="full-width mt-4">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="userStory.nome" placeholder="Nome" name="nome" type="text" required >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Eu, enquanto</mat-label>
        <mat-select [(ngModel)]="userStory.ator.id" name="ator">
          <mat-option *ngFor="let ator of atores | async" [value]="ator.id">
            {{ator.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>gostaria</mat-label>
        <input [(ngModel)]="userStory.narrativa" matInput placeholder="Narrativa" name="narrativa"
          type="text" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>para</mat-label>
        <input [(ngModel)]="userStory.objetivo" matInput placeholder="Objetivo" name="objetivo"
          type="text" required>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
      <button mat-raised-button (click)="cancelar()">Cancelar</button>
    </mat-card-actions>

  </mat-card>

</form>
