<h1>User Story {{entidade.nome}}</h1>

<mat-tab-group>

  <mat-tab label="História">

    <div fxLayout="row" class="mt-4">
      <mat-form-field fxFlex="33">
        <mat-label>Eu, enquanto</mat-label>
        <mat-select [(ngModel)]="entidade.ator.id" name="ator">
          <mat-option *ngFor="let ator of atores" [value]="ator.id">
            {{ator.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="33">
        <mat-label>gostaria</mat-label>
        <input [(ngModel)]="entidade.narrativa" matInput placeholder="Narrativa" name="narrativa" type="text" required>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex="33">
        <mat-label>para</mat-label>
        <input [(ngModel)]="entidade.objetivo" matInput placeholder="Objetivo" name="objetivo" type="text" required>
      </mat-form-field>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="entidade.criteriosAceitacao.length" matBadgeOverlap="false" matBadgeColor="accent">Critérios de
        Aceitação</span>
    </ng-template>

    <div class="mt-4">
      <mat-list>
        <mat-list-item *ngFor="let criterio of entidade.criteriosAceitacao; let i = index">
          <mat-icon mat-list-icon title="Remover" (click)="excluirCriterio(i)" color="warn">clear_forever
          </mat-icon>
          <div mat-line>{{criterio.nome}}</div>
        </mat-list-item>
      </mat-list>
      <button mat-fab color="accent" title="Adicionar" (click)="abrirDialogoCriterio()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </mat-tab>

  <mat-tab label="Configurações">
    <div fxLayout="row" class="mt-4">
      <mat-form-field class="full-width" fxFlex="33">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="entidade.nome" placeholder="Nome" name="nome" type="text" required>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field class="full-width" fxFlex="33">
        <mat-label>Épico</mat-label>
        <mat-select [(ngModel)]="entidade.epicoId" required>
          <mat-option *ngFor="let epico of epicos" [value]="epico.id">{{epico.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-tab>

</mat-tab-group>

<div class="mb-1 mt-2">
  <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
  <button mat-raised-button (click)="cancelar()" class="ml-2">Cancelar</button>
</div>
