<h1 mat-dialog-title>{{data.titulo}}</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>{{data.label}}</mat-label>
    <mat-select [(ngModel)]="data.idAtual" class="full-width" (keyup.enter)="salvar()" cdkFocusInitial>
      <mat-option *ngFor="let item of data.lista; let i = index" [value]="item.id">{{item.texto}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="salvar()">Confirmar</button>
  <button mat-raised-button (click)="cancelar()">Cancelar</button>
</div>
