<div class="icon-picker">

  <div class="summary-info" (click)="toggleIcons()">

    <div class="info">

      <p class="style">{{ heading }}</p>
      <p class="style-value">{{ icon }}</p>

    </div>

    <div class="circle">
      <mat-icon [ngStyle]="{'color': color}">{{icon}}</mat-icon>
    </div>

  </div>

  <div *ngIf="show" class="opened">

    <div *ngFor="let cat of categorias">

      <div *ngIf="categorias.length > 1 && cat.icones.length > 0" class="preto-discreto">
        <small>{{cat.categoria}}</small>
      </div>

      <div class="icons mt-2">
        <div (click)="changeIcon(icon)" *ngFor="let icon of cat.icones" class="circle">
          <mat-icon [ngStyle]="{'color': color}">{{icon}}</mat-icon>
        </div>
      </div>

    </div>

  </div>

</div>