<app-action-bar [titulo]="titulo">

  <div menu>

    <!-- Épicos -->
    <div *ngFor="let epico of produto.epicos; let e = index" class="mt-1 ml-2 epicos">

      <div fxLayout="row" fxLayoutAlign="start center">
        <div>
          <mat-icon color="primary">emoji_events</mat-icon>
        </div>
        <div class="ml-2 link" (click)="openBottomSheetEpicos(epico.id, e)">{{epico.nome}}</div>
      </div>

      <!-- Feature -->
      <div *ngFor="let feature of epico.features; let f = index" class="ml-3 mt-1 preto-discreto">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>
            <mat-icon class="preto-discreto">wysiwyg</mat-icon>
          </div>
          <div class="ml-2 link" (click)="openBottomSheetFeatures(feature.id, e, f)">{{feature.nome}}</div>
        </div>

        <!-- Tarefas -->
        <div *ngFor="let tarefa of feature.tarefas; let t = index" class="ml-3 mt-1 preto-discreto">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div>
              <mat-icon color="accent">task</mat-icon>
            </div>
            <div class="ml-2 link" (click)="openBottomSheetTarefas(tarefa.id, e, f, t)">{{tarefa.titulo}}</div>
          </div>
        </div>

      </div>

    </div>

    <!-- Adicionar Épico -->
    <button mat-fab color="accent" title="Adicionar Épico" (click)="adicionarEpico()">
      <mat-icon>add</mat-icon>
    </button>

  </div>

</app-action-bar>
