<!-- Não editável -->
<span (click)="editar()" *ngIf="!editando">{{ value }}</span>

<!-- Editável -->
<div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="editando">

  <!-- Caixa de texto -->
  <mat-form-field class="full-width-margin">
    <mat-label>{{ label }}</mat-label>
    <input matInput [(ngModel)]="value" [placeholder]="label" name="input" type="text" required appSelectAllText>
  </mat-form-field>

  <!-- Ícones -->
  <div fxLayout="row" fxLayoutAlign="end center">
    <mat-icon class="preto-discreto link" title="Aplicar" (click)="aplicar()">done</mat-icon>
    <mat-icon class="preto-discreto link" title="Cancelar" (click)="cancelar()">clear</mat-icon>
  </div>

</div>
