@import "../../../../styles.scss";

form {
  height: 100%;
  background-color: mat-color($styles-theme-primary);
}

img {
  width: 96px;
}

p {
  color: mat-color($styles-theme-primary);
}

.caixa-texto {
  width: 80%;
  max-width: 400px;
}

.botao {
  width: 70%;
  max-width: 350px;
}

mat-progress-bar {
  position: fixed;
  bottom: 0;
}

section {
  background-color: whitesmoke;
  padding: 32px;
  min-width: 350px;
  min-height: 600px;
}
