<h1>Tema {{entidade.nome}}</h1>

<mat-tab-group>

  <!-- Dados Principais -->
  <mat-tab label="Dados Principais">

    <div fxLayout="row" class="mt-4">

      <mat-form-field fxFlex="30">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="entidade.nome" placeholder="Nome" name="nome" type="text" required>
      </mat-form-field>

    </div>

    <div fxLayout="row">

      <mat-form-field fxFlex="30">
        <mat-label>Produto</mat-label>
        <mat-select [(ngModel)]="entidade.produtoId" required>
          <mat-option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="mb-1">
      <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
      <button mat-raised-button (click)="cancelar()" class="ml-2">Cancelar</button>
    </div>

  </mat-tab>

  <!-- Épicos -->
  <mat-tab>

    <ng-template matTabLabel>
      <span [matBadge]="entidade.epicos.length" matBadgeOverlap="false" matBadgeColor="accent">Épicos</span>
    </ng-template>

    <div class="tab-container">
      <mat-list>
        <mat-list-item *ngFor="let epico of entidade.epicos">
          <div mat-line><a [routerLink]="['/epicos', epico.id]">{{epico.nome}}</a></div>
        </mat-list-item>
      </mat-list>
      <a routerLink="/epicos/new" [queryParams]="{ temaId: this.entidade.id}">
        <button mat-fab color="accent" title="Adicionar">
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>
  </mat-tab>

</mat-tab-group>
