<!-- Menu lateral -->
<mat-sidenav-container class="example-container">

  <mat-sidenav #menu mode="over">

    <!-- Dados do usuário logado -->
    <div class="cabecalho">
      <div>
        <h1>{{nomeAplicacao}}</h1>
      </div>
      <div>
        <div>{{nomeUsuario()}}</div>
        <small>{{emailUsuario()}}</small>
      </div>
    </div>

    <!-- Menu -->
    <mat-nav-list>

      <mat-list-item (click)="menu.close();router.navigate(['/transacoes']);">
        <mat-icon mat-list-icon>import_export</mat-icon>
        <div mat-line>Transações</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/contas/dinheiro-acumulado']);">
        <mat-icon mat-list-icon>leaderboard</mat-icon>
        <div mat-line>Dinheiro Acumulado</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/categorias/despesas']);">
        <mat-icon mat-list-icon>pie_chart_outline</mat-icon>
        <div mat-line>Despesas por Categoria</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/categorias/analise']);">
        <mat-icon mat-list-icon>timeline</mat-icon>
        <div mat-line>Análise de Categorias</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/orcamentos/analise']);">
        <mat-icon mat-list-icon>timeline</mat-icon>
        <div mat-line>Análise de Orçamento</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/metas']);">
        <mat-icon mat-list-icon>event_available</mat-icon>
        <div mat-line>Metas</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="menu.close();router.navigate(['/categorias']);">
        <mat-icon mat-list-icon>category</mat-icon>
        <div mat-line>Categorias</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/cartoes-credito']);">
        <mat-icon mat-list-icon>credit_card</mat-icon>
        <div mat-line>Cartões de Crédito</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/contas']);">
        <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
        <div mat-line>Contas</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/pessoas']);">
        <mat-icon mat-list-icon>people</mat-icon>
        <div mat-line>Pessoas</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/orcamentos']);">
        <mat-icon mat-list-icon>donut_large</mat-icon>
        <div mat-line>Orçamento</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="menu.close();abrirInstagram();">
        <mat-icon mat-list-icon>thumb_up</mat-icon>
        <div mat-line>Siga @appAgilis no Insta</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/alterar-minha-senha']);">
        <mat-icon mat-list-icon>password</mat-icon>
        <div mat-line>Alterar a minha senha</div>
      </mat-list-item>

      <mat-list-item (click)="menu.close();router.navigate(['/excluir-minha-conta']);">
        <mat-icon mat-list-icon color="warn">clear</mat-icon>
        <div mat-line>Excluir a minha conta</div>
      </mat-list-item>

      <mat-list-item (click)="sair();menu.close();">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <div mat-line>Sair</div>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <!-- Menu da direita -->
  <mat-sidenav #filtros position="end">
    <p class="titulo-filtros">Filtros</p>
    <ng-content select="[filtros]"></ng-content>
  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Barra superior -->
    <mat-toolbar color="primary" *ngIf="modo=='lista'" class="sticky-top">
      <mat-toolbar-row>
        <button mat-icon-button (click)="menu.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{titulo}}</span>
        <span class="example-spacer"></span>
        <!-- Ícones à direita -->
        <ng-content select="[icones-esquerda]"></ng-content>
        <button *ngIf="botaoPesquisa" mat-icon-button (click)="abrirPesquisa()">
          <mat-icon>search</mat-icon>
        </button>
        <button *ngIf="botaoFiltro" mat-icon-button (click)="filtros.toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
        <ng-content select="[icones]"></ng-content>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- Pesquisa -->
    <mat-toolbar class="top-toolbar" color="default" *ngIf="modo=='pesquisa'">
      <mat-toolbar-row>
        <mat-icon matRipple class="icon-mat-toolbar voltar icone-discreto" aria-hidden="false" aria-label="Voltar"
          (click)="fecharPesquisa()" class="ml-2">
          arrow_back
        </mat-icon>
        <input id="busca" #busca [(ngModel)]="query" (input)="pesquisar()" matInput placeholder="Pesquisar"
          type="search" class="full-width ml-2" style="padding: 8px;" appSelectAllText>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- Conteudo -->
    <mat-progress-bar *ngIf="processandoService.estaCarregando()" color="accent" mode="indeterminate">
    </mat-progress-bar>

    <div class="ph-1">
      <ng-content select="[menu]"></ng-content>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
