form {
  margin: 16px;
  width: calc(100% - 36px);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 !important;
}

.logo img {
  max-width: 128px;
}

h1 {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 8px;
  font-weight: normal;
}

h2 {
  font-weight: normal;
}
