<!-- Cabeçalho -->
<header fxLayout="column" fxLayoutAlign="center center">

  <!-- Logo -->
  <div class="logo" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../assets/images/agilis-192.png" alt="Logotipo do sistema" />
  </div>

  <!-- Textos -->
  <h1>Agilis</h1>
  <h2>Sistema Agilis</h2>
  <div>
    <p>Frase promocional</p>
  </div>

  <!-- Botões -->
  <form fxLayout="row" fxLayoutAlign="start center" class="mt-4">
    <button mat-raised-button color="accent" class="botao mr-4" routerLink="/usuarios/new">CADASTRE-SE</button>
    <button mat-raised-button color="default" class="botao" routerLink="/login">LOGIN</button>
  </form>

</header>

<div style="clear: both;"></div>

<!-- Rodapé -->
<footer fxLayout="column" fxLayoutAlign="center center">
  <p>Todos os direitos reservados © DDS Sistemas</p>
</footer>
