@import "../../../../styles.scss";

.progress-bar {
  height: 20px;
  background-color: #eee;
  border: 1px solid mat-color($styles-theme-accent);
}

.progress-bar div {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: mat-color($styles-theme-accent);
}

.progress-bar span {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
