<app-action-bar [titulo]="'Tarefas'" [botaoFiltro]="true" [botaoPesquisa]="true" (pesquisaEvent)="onPesquisar($event)">

  <div menu>

    <!-- Grade -->
    <mat-list role="list">

      <mat-list-item role="listitem" *ngFor="let tarefa of lista; let i = index"
        (click)="openBottomSheet(tarefa.id, i)">

        <mat-icon mat-list-icon>task</mat-icon>

        <div mat-line>
          <span>{{tarefa.titulo}}</span>
        </div>

        <div mat-line>
          <span>{{tarefa?.sprint?.nome}}</span>
        </div>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <!-- Adicionar -->
    <button mat-fab color="accent" title="Adicionar" (click)="adicionar()" routerLink='/tarefas/new'>
      <mat-icon>add</mat-icon>
    </button>

  </div>

  <div filtros>

    <!-- Sprint -->
    <mat-form-field class="full-width-margin">
      <mat-label>Sprint</mat-label>
      <mat-select [(ngModel)]="filtros.sprintId">
        <mat-option value="">Todas</mat-option>
        <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">
          {{sprint.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Relator -->
    <mat-form-field class="full-width-margin">
      <mat-label>Relator</mat-label>
      <mat-select [(ngModel)]="filtros.relatorId">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let relator of usuarios" [value]="relator.id">
          {{relator.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Solucionador -->
    <mat-form-field class="full-width-margin">
      <mat-label>Solucionador</mat-label>
      <mat-select [(ngModel)]="filtros.solucionadorId">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let solucionador of usuarios" [value]="solucionador.id">
          {{solucionador.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Cliente -->
    <mat-form-field class="full-width-margin">
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="filtros.clienteId">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
          {{cliente.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Produto -->
    <mat-form-field class="full-width-margin">
      <mat-label>Produto</mat-label>
      <mat-select [(ngModel)]="filtros.produtoId">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let produto of produtos" [value]="produto.id">
          {{produto.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Feature -->
    <mat-form-field class="full-width-margin">
      <mat-label>Feature</mat-label>
      <mat-select [(ngModel)]="filtros.featureId">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let feature of features" [value]="feature.id">
          {{feature.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="ml-2 mb-4 full-width-margin" mat-raised-button color="primary"
      (click)="atualizarDados()">Aplicar</button>

  </div>

</app-action-bar>
