<app-action-bar [titulo]="'Times'" [botaoFiltro]="false" [botaoPesquisa]="true" (pesquisaEvent)="onPesquisar($event)">

  <div menu>

    <!-- Grade -->
    <mat-list role="list">

      <mat-list-item role="listitem" *ngFor="let time of lista; let i = index"
        (click)="openBottomSheet(time.id, i)">

        <mat-icon mat-list-icon>groups</mat-icon>

        <div mat-line>
          <span>{{time.nome}}</span>
        </div>

        <div mat-line>
          <small class="preto-discreto">{{ time.orcamento?.nome }}</small>
        </div>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <!-- Adicionar -->
    <button mat-fab color="accent" title="Adicionar" (click)="adicionar()" routerLink='/times/new'>
      <mat-icon>add</mat-icon>
    </button>

  </div>

</app-action-bar>
