$styles-theme-primary: mat-palette($mat-cyan, 600);
$styles-theme-accent: mat-palette($mat-amber, 600);
$styles-theme-warn: mat-palette($mat-red, A700);

$styles-theme: mat-light-theme(
    $styles-theme-primary,
    $styles-theme-accent,
    $styles-theme-warn
);
