<h1>Produto {{entidade.nome}}</h1>

<mat-tab-group>

  <!-- Dados Principais -->
  <mat-tab label="Dados Principais">

    <div fxLayout="row" class="mt-4">

      <mat-form-field fxFlex="30">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="entidade.nome" placeholder="Nome" name="nome" type="text" required>
      </mat-form-field>

    </div>

    <div fxLayout="row">

      <mat-form-field fxFlex="30">
        <mat-label>Time</mat-label>
        <mat-select [(ngModel)]="entidade.timeId" required>
          <mat-option *ngFor="let time of times" [value]="time.id">{{time.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="mb-1">
      <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
      <button mat-raised-button (click)="cancelar()" class="ml-2">Cancelar</button>
    </div>

  </mat-tab>

  <!-- Atores -->
  <mat-tab>

    <ng-template matTabLabel>
      <span [matBadge]="entidade.atores.length" matBadgeOverlap="false" matBadgeColor="accent">Atores</span>
    </ng-template>

    <div class="tab-container">
      <mat-list>
        <mat-list-item *ngFor="let ator of entidade.atores">
          <div mat-line><a [routerLink]="['/atores', ator.id]">{{ator.nome}}</a></div>
        </mat-list-item>
      </mat-list>
      <a routerLink="/atores/new" [queryParams]="{ produtoId: this.entidade.id}">
        <button mat-fab color="accent" title="Adicionar">
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>
  </mat-tab>

</mat-tab-group>
