<h1>Story Mapping - Produto XYZ</h1>
<div fxLayout="row" fxLayoutAlign="start start" class="mt-4 story-mapping-container">
  <div *ngFor="let tema of temas">

    <!-- Temas -->
    <div class="tema">{{tema.nome}}</div>

    <div fxLayout="row" fxLayoutAlign="start start">
      <div class="epico-container" *ngFor="let epico of tema.epicos" cdkDropListGroup>

        <!-- Epicos -->
        <div class="epico">{{epico.nome}}</div>

        <div fxLayout="column" fxLayoutAlign="start center" cdkDropList [cdkDropListData]="epico.userStories"
          (cdkDropListDropped)="drop($event)" class="example-list">

          <!-- US -->
          <div class="example-box us" cdkDrag *ngFor="let us of epico.userStories">{{us.nome}}</div>

        </div>
      </div>

    </div>
  </div>

</div>
