div {
  //border: 1px solid black;
}

.tema {
  margin: 1px;
  padding: 8px;
  background-color: blue;
}
.epico {
  margin: 1px;
  padding: 8px;
  background-color: green;
}
.us {
  margin: 1px;
  padding: 8px;
  background-color: yellow;
}
