<h1>User Stories</h1>
<!-- Pesquisa e novo -->
<div class="pesquisa">

  <mat-form-field fxFlex="40">
    <mat-label>Pesquisa</mat-label>
    <input matInput placeholder="Pesquisa" type="search" [(ngModel)]="filtro" (keyup.enter)="atualizarDados()">
    <div matPrefix fxLayout="row">
      <mat-icon>search</mat-icon>
      &nbsp;
    </div>
  </mat-form-field>

  <mat-form-field class="ml-3" fxFlex="20">
    <mat-label>Épico</mat-label>
    <mat-select [(ngModel)]="epicoId">
      <mat-option *ngFor="let epico of epicos" [value]="epico.id">{{epico.nome}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end end" fxFlex.xs="50%" fxFlex.sm="25%" fxFlex.md="15%" fxFlex.lg="10%"
    fxFlex.xl="10%">
    <button mat-raised-button (click)="atualizarDados()">Pesquisar</button>
  </div>

</div>

<button mat-fab color="accent" title="Adicionar" (click)="adicionar()">
  <mat-icon>add</mat-icon>
</button>

<!-- Grade -->
<div fxLayout="row wrap" fxLayoutAlign="none start" fxLayoutGap="1%">
  <mat-card class="post-it mb-2" fxFlex="19" *ngFor="let userStory of lista; let i = index">
    <mat-card-header>
      <mat-card-title>{{userStory.nome}}</mat-card-title>
      <mat-card-subtitle>{{userStory.criteriosAceitacao.length}} critério(s) de aceitação</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{userStory.historia}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="excluir(i)" color="warn">Excluir</button>
      <button mat-button (click)="editar(userStory.id)">Editar</button>
    </mat-card-actions>

  </mat-card>

</div>
