<h1>UserStories</h1>
<!-- Pesquisa e novo -->
<div class="pesquisa">

  <mat-form-field fxFlex="40">
    <mat-label>Pesquisa</mat-label>
    <input matInput placeholder="Pesquisa" type="search" [(ngModel)]="filtro" (keyup.enter)="atualizarDados()">
    <div matPrefix fxLayout="row">
      <mat-icon>search</mat-icon>
      &nbsp;
    </div>
  </mat-form-field>

  <mat-form-field class="ml-3" fxFlex="20">
    <mat-label>Épico</mat-label>
    <mat-select [(ngModel)]="epicoId">
      <mat-option *ngFor="let epico of epicos" [value]="epico.id">{{epico.nome}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end end" fxFlex.xs="50%" fxFlex.sm="25%" fxFlex.md="15%" fxFlex.lg="10%"
    fxFlex.xl="10%">
    <button mat-raised-button (click)="atualizarDados()">Pesquisar</button>
  </div>

</div>

<button mat-fab color="accent" title="Adicionar" (click)="adicionar()">
  <mat-icon>add</mat-icon>
</button>

<!-- Grade -->
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let userStory of lista; let i = index">
    <mat-icon mat-list-icon title="Excluir" color="warn" (click)="excluir(i)">clear_forever</mat-icon>
    <mat-icon mat-list-icon title="Editar" (click)="editar(userStory.id)">edit</mat-icon>
    <div mat-line>{{userStory.nome}}</div>
  </mat-list-item>
</mat-list>
