<app-action-bar [titulo]="'Clientes'" [botaoFiltro]="false" [botaoPesquisa]="true" (pesquisaEvent)="onPesquisar($event)">

  <div menu>

    <!-- Grade -->
    <mat-list role="list">

      <mat-list-item role="listitem" *ngFor="let cliente of lista; let i = index"
        (click)="openBottomSheet(cliente.id, i)">

        <mat-icon mat-list-icon>corporate_fare</mat-icon>

        <div mat-line>
          <span>{{cliente.nome}}</span>
        </div>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <!-- Adicionar -->
    <button mat-fab color="accent" title="Adicionar" (click)="adicionar()" routerLink='/clientes/new'>
      <mat-icon>add</mat-icon>
    </button>

  </div>

</app-action-bar>
