<h1>Ator {{entidade.nome}}</h1>

<mat-tab-group>

  <!-- Dados Principais -->
  <mat-tab label="Dados Principais">

    <div fxLayout="row" class="mt-4">

      <mat-form-field fxFlex="30">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="entidade.nome" placeholder="Nome" name="nome" type="text" required>
      </mat-form-field>

    </div>

    <div fxLayout="row">

      <mat-form-field fxFlex="30">
        <mat-label>Produto</mat-label>
        <mat-select [(ngModel)]="entidade.produtoId" required>
          <mat-option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="mb-1">
      <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
      <button mat-raised-button (click)="cancelar()" class="ml-2">Cancelar</button>
    </div>

  </mat-tab>

</mat-tab-group>
