<app-action-bar [titulo]="'Cadastro da Tarefa'">

  <div menu class="form-container">

    <!-- Título -->
    <mat-form-field class="mt-4 full-width-margin">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="entidade.titulo" placeholder="Título" name="titulo" type="text" required
        appSelectAllText>
    </mat-form-field>

    <!-- Tags -->
    <app-tags [tarefa]="entidade" #tags></app-tags>

    <div fxLayout="row" fxLayoutAlign="space-between none">

      <!-- Horas Previstas -->
      <mat-form-field fxflex="33">
        <mat-label>Horas Previstas</mat-label>
        <input matInput [(ngModel)]="entidade.horasPrevistas" placeholder="Horas Previstas" name="horasPrevistas"
          type="text" required appSelectAllText>
      </mat-form-field>

      <!-- Horas Realizadas -->
      <mat-form-field fxflex="33">
        <mat-label>Horas Realizadas</mat-label>
        <input matInput [(ngModel)]="entidade.horasRealizadas" placeholder="Horas Realizadas" name="horasRealizadas"
          type="text" required appSelectAllText>
      </mat-form-field>

      <!-- Valor -->
      <app-star-rating fxflex="33" [(valor)]="entidade.valor" label="Valor Agregado"></app-star-rating>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between none" class="mt-1">

      <!-- Relator -->
      <mat-form-field fxFlex="50" class="mr-1">
        <mat-label>Relator</mat-label>
        <mat-select [(ngModel)]="entidade.relator" [compareWith]="comparadorService.compareById">
          <mat-option *ngFor="let usuario of usuarios" [value]="usuario">{{usuario.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Solucionador -->
      <mat-form-field fxFlex="50" class="ml-1">
        <mat-label>Solucionador</mat-label>
        <mat-select [(ngModel)]="entidade.solucionador" [compareWith]="comparadorService.compareById">
          <mat-option *ngFor="let usuario of usuarios" [value]="usuario">{{usuario.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between none" class="mt-1">

      <!-- Produto -->
      <mat-form-field class="mr-1" fxFlex="50">
        <mat-label>Produto</mat-label>
        <input matInput [value]="entidade?.feature?.produto?.nome" placeholder="Produto" name="produto" type="text"
          disabled="disabled">
      </mat-form-field>

      <!-- Feature -->
      <mat-form-field class="ml-1" fxFlex="50">
        <mat-label>Feature</mat-label>
        <mat-select [(ngModel)]="entidade.feature" [compareWith]="comparadorService.compareById">
          <mat-option *ngFor="let feature of features" [value]="feature">{{feature.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <!-- Tipo -->
    <mat-form-field class="mt-1 full-width-margin">
      <mat-label>Tipo</mat-label>
      <mat-select [(ngModel)]="entidade.tipo">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo">{{obterLabelTipo(tipo)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Cliente -->
    <mat-form-field class="mt-1 full-width-margin">
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="entidade.cliente" [compareWith]="comparadorService.compareById">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let cliente of clientes" [value]="cliente">{{cliente.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Descrição -->
    <mat-form-field class="mt-1 full-width-margin">
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="entidade.descricao" placeholder="Descrição" name="descricao" type="text"
        appSelectAllText rows="5"></textarea>
    </mat-form-field>

    <!-- Check-Lists -->
    <div *ngFor="let checkList of entidade.checkLists" class="mb-4">
      <app-check-list-editavel [checkList]="checkList">
      </app-check-list-editavel>
    </div>

    <!-- Margem inferior -->
    <div class="mb-5"></div>

    <!-- Adicionar -->
    <button mat-fab color="accent" title="Adicionar" (click)="adicionar()">
      <mat-icon>add</mat-icon>
    </button>

  </div>

  <!-- Ícones da action-bar -->
  <div icones>
    <!-- Salvar -->
    <button mat-icon-button (click)="salvar()">
      <mat-icon>done</mat-icon>
    </button>
  </div>

</app-action-bar>
