<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">

    <div class="cabecalho">
      <div *ngIf="!usuarioApiService.usuarioLogado">
        <h1>AGILIS</h1>
      </div>
      <div *ngIf="usuarioApiService.usuarioLogado">
        <mat-icon>person</mat-icon>
        <div><strong>{{ usuarioApiService?.usuarioLogado.usuario.nome }}</strong></div>
        <small>{{ usuarioApiService?.usuarioLogado.usuario.email }}</small>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list>

      <div *ngFor="let grupo of menu">

        <h2 matSubheader>{{grupo.nome}}</h2>

        <a *ngFor="let item of grupo.itens" mat-list-item (click)="sidenav.close()" [routerLink]="[item.rota]"
          routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icone }} </mat-icon>
          {{item.nome}}
        </a>

        <mat-divider></mat-divider>

      </div>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>AGILIS</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-progress-bar *ngIf="processandoService.estaCarregando()" color="accent" mode="indeterminate"></mat-progress-bar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
