<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">

    <div class="cabecalho">
      <div *ngIf="!autenticacaoService.usuarioLogado">
        <h1>Agilis Studio</h1>
      </div>
      <div *ngIf="autenticacaoService.usuarioLogado">
        <mat-icon>person</mat-icon>
        <div><strong>{{ autenticacaoService?.usuarioLogado.usuario.nome }}</strong></div>
        <small>{{ autenticacaoService?.usuarioLogado.usuario.email }}</small>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list>

      <a *ngFor="let item of menu" mat-list-item (click)="sidenav.close()" [routerLink]="[item.rota]"
        routerLinkActive="list-item-active">

        {{item.nome}}

      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Agilis Studio</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-progress-bar *ngIf="processandoService.estaCarregando()" color="accent" mode="indeterminate">
    </mat-progress-bar>

    <div class="ph-4">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
