@import '../../src/styles.scss';

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.cabecalho {
  padding: 16px;
  background-color: mat-color($styles-theme-accent);
}

mat-nav-list mat-icon {
  color: mat-color($styles-theme-primary) !important;
}

mat-nav-list{
  margin: 0 16px;
}

mat-sidenav h1{
  margin: 16px;
}

mat-sidenav {
  min-width: 20%;
}

mat-progress-bar{
  position: fixed;
  bottom: 0;
}
