<h1>Time {{entidade.nome}}</h1>

<mat-tab-group>
  <mat-tab label="Dados Principais">
    <mat-form-field class="half-width mt-4">
      <mat-label>Nome</mat-label>
      <input [attr.disabled]="!podeEditar() ? '' : null" matInput [(ngModel)]="entidade.nome" placeholder="Nome"
        name="nome" type="text" required>
    </mat-form-field>

    <div *ngIf="podeEditar()" class="mb-1">
      <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
      <button mat-raised-button (click)="cancelar()" class="ml-2">Cancelar</button>
    </div>

  </mat-tab>

  <mat-tab *ngIf="podeEditar()">

    <ng-template matTabLabel>
      <span [matBadge]="entidade.administradores.length" matBadgeOverlap="false"
        matBadgeColor="accent">Administradores</span>
    </ng-template>

    <div class="tab-container">

      <mat-form-field fxFlex.xs="55%" fxFlex.sm="60%" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" type="email" [(ngModel)]="emailAdmin" (keyup.enter)="adicionarAdmin()"
          name="emailAdmin">
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="end end" fxFlex.xs="45%" fxFlex.sm="40%" fxFlex.md="20%" fxFlex.lg="15%"
        fxFlex.xl="15%">
        <button class="button-input" mat-raised-button (click)="adicionarAdmin()">Adicionar</button>
      </div>

    </div>
    <div>
      <mat-list>
        <mat-list-item *ngFor="let admin of entidade.administradores">
          <mat-icon mat-list-icon title="Remover" (click)="excluirAdmin(admin.id)">delete</mat-icon>
          <div mat-line>{{admin.nome}}</div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-tab>

  <mat-tab *ngIf="podeEditar()">

    <ng-template matTabLabel>
      <span [matBadge]="entidade.colaboradores.length" matBadgeOverlap="false"
        matBadgeColor="accent">Colaboradores</span>
    </ng-template>

    <div class="tab-container">
      <mat-list>
        <mat-list-item *ngFor="let colab of entidade.colaboradores">
          <mat-icon mat-list-icon title="Remover" (click)="excluirColaborador(colab.id)">delete</mat-icon>
          <div mat-line>{{colab.nome}}</div>
        </mat-list-item>
      </mat-list>
      <button mat-fab color="accent" title="Adicionar" (click)="abrirDialogoColaborador()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="entidade.produtos.length" matBadgeOverlap="false" matBadgeColor="accent">Produtos</span>
    </ng-template>

    <div class="tab-container">
      <mat-list>
        <mat-list-item *ngFor="let prod of entidade.produtos">
          <mat-icon mat-list-icon title="Remover" (click)="excluirProduto(prod.id)">delete</mat-icon>
          <div mat-line>{{prod.nome}}</div>
        </mat-list-item>
      </mat-list>
      <button mat-fab color="accent" title="Adicionar" (click)="adicionarProduto()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="entidade.releases.length" matBadgeOverlap="false" matBadgeColor="accent">Releases</span>
    </ng-template>

    <div class="tab-container">
      <mat-list>
        <mat-list-item *ngFor="let release of entidade.releases">
          <mat-icon mat-list-icon title="Remover" (click)="excluirRelease(release.id)">delete</mat-icon>
          <div mat-line>{{release.nome}}</div>
        </mat-list-item>
      </mat-list>
    </div>
    <button mat-fab color="accent" title="Adicionar" (click)="adicionarRelease()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>

</mat-tab-group>
