<h1>Time {{entidade.nome}}</h1>

<mat-tab-group>

  <!-- Dados Principais -->
  <mat-tab label="Dados Principais">

    <mat-form-field class="half-width mt-4">
      <mat-label>Nome</mat-label>
      <input [attr.disabled]="!podeEditar() ? '' : null" matInput [(ngModel)]="entidade.nome" placeholder="Nome"
        name="nome" type="text" required>
    </mat-form-field>

    <div *ngIf="podeEditar()" class="mb-1">
      <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
      <button mat-raised-button (click)="cancelar()" class="ml-2">Cancelar</button>
    </div>

  </mat-tab>

  <!-- Administradores -->
  <mat-tab *ngIf="podeEditar()">

    <ng-template matTabLabel>
      <span [matBadge]="entidade.administradores.length" matBadgeOverlap="false"
        matBadgeColor="accent">Administradores</span>
    </ng-template>

    <div class="tab-container">
      <mat-list>
        <mat-list-item *ngFor="let admin of entidade.administradores">
          <mat-icon mat-list-icon title="Remover" (click)="excluirAdministrador(admin.id)" color="warn">clear_forever
          </mat-icon>
          <div mat-line>{{admin.nome}}</div>
        </mat-list-item>
      </mat-list>
      <button mat-fab color="accent" title="Adicionar" (click)="abrirDialogoAdministrador()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-tab>

  <!-- Colaboradores -->
  <mat-tab *ngIf="podeEditar()">

    <ng-template matTabLabel>
      <span [matBadge]="entidade.colaboradores.length" matBadgeOverlap="false"
        matBadgeColor="accent">Colaboradores</span>
    </ng-template>

    <div class="tab-container">
      <mat-list>
        <mat-list-item *ngFor="let colab of entidade.colaboradores">
          <mat-icon mat-list-icon title="Remover" (click)="excluirColaborador(colab.id)" color="warn">clear_forever
          </mat-icon>
          <div mat-line>{{colab.nome}}</div>
        </mat-list-item>
      </mat-list>
      <button mat-fab color="accent" title="Adicionar" (click)="abrirDialogoColaborador()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-tab>

  <!-- Produtos -->
  <mat-tab>

    <ng-template matTabLabel>
      <span [matBadge]="entidade.produtos.length" matBadgeOverlap="false" matBadgeColor="accent">Produtos</span>
    </ng-template>

    <div class="tab-container">
      <mat-list>
        <mat-list-item *ngFor="let produto of entidade.produtos">
          <div mat-line><a [routerLink]="['/produtos', produto.id]">{{produto.nome}}</a></div>
        </mat-list-item>
      </mat-list>
      <a routerLink="/produtos/new" [queryParams]="{ timeId: this.entidade.id}">
        <button mat-fab color="accent" title="Adicionar">
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>
  </mat-tab>

</mat-tab-group>
