<form fxLayout="column" class="mt-5">
  <mat-card fxFlexAlign="center">

    <mat-card-header>
      <mat-card-title>Cadastro de Releases</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-tab-group>
        <mat-tab label="Dados Principais">

          <mat-form-field class="full-width mt-4">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="entidade.nome" placeholder="Nome" name="nome" type="text" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Time</mat-label>
            <mat-select [(ngModel)]="timeId" name="time">
              <mat-option *ngFor="let time of times" [value]="time.id">
                {{time.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="accent" (click)="salvar()">Salvar</button>
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
          </div>

        </mat-tab>


        <mat-tab label="Product Backlogs">

        </mat-tab>

        <mat-tab label="Sprints">
          <mat-list>
            <mat-list-item *ngFor="let sprint of entidade.sprints">
              <mat-icon mat-list-icon title="Editar" (click)="editarSprint(sprint.id)">edit</mat-icon>
              <div mat-line>
                <span>{{sprint.numero}}</span>
                <span class="ml-5">{{sprint.nome}}</span>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

  </mat-card>

</form>
